
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
    *{background-color:#f7ecd0;
    font-family: sans-serif;
  }
 
 h2{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}
.logo{
  background-color:#c6def1;
  padding: 16px 20px;
  font-size: 30px;
  font-family:serif;
  font-weight: bold;

}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c6def1;
    padding: 2rem 2rem;
    position:sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  
  .nav-links a {
    color:#000;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    text-align: center;
    position: relative;
    top: 10px;
  }
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-links a:hover {
    color:rgb(182, 132, 67);
    text-decoration-line:underline;
    font-family: serif;
    font-size: larger;
    
  }
  
  .nav-links a::after {
    content: '';
    width: 0;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;  
    transition: width 0.3s ease;
    display: block;
  }
  .nav-links a:hover::after {
    width: 100%;
  }
 .nav-links .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
 .nav-links .hamburger span {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 4px;
    border-radius: 3px;
  }
  @media (max-width: 768px) {
    .nav-links ul {
      display: none;
      flex-direction: column;
      background-color: #333c46;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 200px;
    }
    .nav.active {
      display: flex;
    }
    
    .navbar ul{
      display: none;
      flex-direction: column;
      background-color: #c6def1;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 15px;
     border-radius: 8px;
    }
   
   
  }
  .tshirt1{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius:50% ;
   
  }
  .top{
    display: flex;
    align-items: center;
  }

  
  .content{
    padding: 20px;
  
   text-align: justify;
    

  }
  .button{
    background-color: #c9e4de;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .contact-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.center{
  text-align: justify;
  padding: 50px;
  display:flex;
}


.contact-container h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1rem;
    color:#000;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   
    
}

.form input, .form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(214, 203, 203);
}

.submit-button {
    background-color:#c6def1;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 5PX;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:  #c6def1;
}
.foot {
  text-align: center;
 margin-bottom: 0px;
 background-color:#c6def1;
 justify-content: space-between;
 padding:  20px;

}
.foot p{
  background-color: #c6def1;
}
.foot a{
  text-decoration: none;
}
.projects{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.head{
  text-align: center;
}
.my{                                                              
  text-align:center;
  padding: 5px;
  margin: 10px;
  font-family:serif;
  font-size:40px;
}
.me{
  text-align: center;
  padding: 20%;
}

.project-container {

  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

}

.project-card{

  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 300px;
  transition: transform 0.3s ease;
  /*transition: background 0.3s ease;*/

}
.project-card:hover {

  transform: translateY(-20px);
  background-color: rgb(172, 177, 179);

}

.project-card img {

  width:100%;
  object-fit: cover;
  object-position: center;
  
}

.project-card h3 {
background-color: #fff;
  margin: 0.5rem 0;

}
.project-card p {

  font-family: 'Lobster', cursive;
background-color: #fff;

}
.project-card h3:hover{
  background-color: rgb(172, 177, 179);
}
.project-card p:hover{
  background-color: rgb(172, 177, 179);
}
.store{
  text-align: center;
  
}
.loc{
  padding: 7px;
  border: 0.1px solid #000;
}
.visit{
  padding: 10px;
}
.but{
  padding: 20px;
}

.service-container{

  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

}
.service-card{
  width: 200px;
  overflow: hidden;
  margin: 5px;
  border: #000 solid 1.5px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 300px;
  transition: transform 0.3s ease;
  /*transition: background 0.3s ease;*/
}
.service-card:hover{
 overflow: hidden;
  cursor: pointer;
   transform: translateY(-20px);
    background-color:#c6def1;
  

}
.service{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.service-card img{
  height: 260px;
  width: 100%;
 object-fit: cover;
 display: block;
 justify-content: space-between;
object-position: center;
}
.service-card p{
  background-color: #fff;
}
.service-card h3{
  background-color: #fff;
}
.service-card h3:hover{
  background-color: #c6def1;
}
.service-card p:hover{
  background-color: #c6def1;
}
.ser{
  margin-bottom: 50PX;  
  padding: 50PX;
}
