
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#c6def1;
    padding: 16px 20px;
  }

  .nav-links {
    display: flex;
    gap: 15px;
    position: relative;
  }

  .nav-links a{
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
    position: relative;
  }

  .nav-links a:hover {
    color:#deb887;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
  }


  .tshirt1{
    height: 300px;
    width: 200px;
    object-fit: cover;
  }
  .tshirt1{
    display: flex;
    height: 300px;
    width: 200px;
    display: flex ;
    width: 48vw;
    float: right;
 
    

  }
  .content{
    display: inline  ;
    justify-content: center;
    align-items: center;
    width: 50vb;

  }
  .button{
    background-color: #c9e4de;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }7
  .contact-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.center{
  text-align: center;
}

.contact-container h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1rem;
    color:#000;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(214, 203, 203);
}

.submit-button {
    background-color:#c6def1;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 5PX;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:  #c6def1;
}
*{
  background-color: #f5eacf;
}
.foot {
  text-align: center;
 margin-bottom: 46%;
 background-color:#c6def1;
 justify-content: space-between;
 padding: 16px 20px;

}
.foot p{
  background-color: #c6def1;
}
.foot a{
  text-decoration: none;
}
.projects{
  display: flex;
}
.left{
  padding: 70px;
  border: 30px;
 
}
.right{
  padding: 70px;
  border: 30px;
  
}
.my{
  text-align:center;
}