
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  *{
    background-color:#f7ecd0;
   font-family: sans-serif;
 }
 h2{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}

  .navbar {
    background-color:#c6def1;
    padding: 16px 20px;
   
    top: 0;
    width: 100%;
    display: flex;

  }
  .logo{
    background-color:#c6def1;
    padding: 16px 20px;
    font-size: 30px;
    font-family:serif;

  }
  .hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;


  }
  .hamburger span{
    height: 3px;
    width: 20px;
    background-color: #000;
    border-radius: 2px;
    @media (max-width: 650px){
      .hamburger{
        display: flex;
      }
    }

  }
  .nav-links{
    display: none;
    flex-direction: column;
    background-color: #c6def1;
    position:absolute;
    top: 0px;
    right: 60px;
    padding: 15px;
    border-radius: 8px;
   
  }

  .navbar .nav-links   a{
    
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
    background-color:#c6def1; 
  }

  .navbar .nav-links  a:hover {
    color:#69410b;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
  }

   .navbar .nav-links { 
   
    list-style:none;
    display: flex;
    background-color: #c6def1;


  }
  
  .tshirt1{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius:50% ;
   
  }
  .top{
    display: flex;
    align-items: center;
  }

  
  .content{
    padding: 20px;
  
   text-align: justify;
    

  }
  .button{
    background-color: #c9e4de;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .contact-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.center{
  text-align: justify;
  padding: 50px;
  display:flex;
}


.contact-container h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1rem;
    color:#000;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   
    
}

.form input, .form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(214, 203, 203);
}

.submit-button {
    background-color:#c6def1;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 5PX;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:  #c6def1;
}
.foot {
  text-align: center;
 margin-bottom: 0px;
 background-color:#c6def1;
 justify-content: space-between;
 padding:  20px;

}
.foot p{
  background-color: #c6def1;
}
.foot a{
  text-decoration: none;
}
.projects{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

.head{
  text-align: center;
}
.my{                                                              
  text-align:center;
  padding: 5px;
  margin: 10px;
  font-family:serif;
  font-size:40px;
}
.me{
  text-align: center;
  padding: 22%;
  background-color: #f0deb0;
 
}
.huba{
  background-color:#f0deb0 ;
}
.left img{
  height: 180px;
  width: 70%;
 padding: 5px;
 object-fit: cover;
 display: block;
 transition: .3s;
 justify-content: space-between;
 transition: all 3.0s ease;
}
.left:hover img{
  scale: 1.1;
  
}
.left{
  width: 200px;
  overflow: hidden;
 
}
.left:hover{
  width: 200px;
  overflow: hidden;
  cursor: pointer;

  
}
.store{
  text-align: center;
  
}
.loc{
  padding: 7px;
  border: 0.1px solid #000;
}
.visit{
  padding: 10px;
}
.but{
  padding: 20px;
}
.card{
  width: 200px;
 
  overflow: hidden;
  margin: 5px;
  border: #000 solid 1.5px;
  
}
.card:hover{
 overflow: hidden;
  cursor: pointer;

}
.service{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.card img{
  height: 260px;
  width: 85%;
 padding: 10px;
 object-fit: cover;
 display: block;
 justify-content: space-between;

}
.ser{
  margin-bottom: 50PX;  
  padding: 50PX;
}